<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<head>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="75" height="75" role="img">
                    <image xlink:href="http://localhost:8080/images/logo.png" width="75" height="75" alt="logo" />
                </svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2">Statistics</a></li>
            <li><a href="#" class="nav-link px-2">Season</a></li>
            <!--    Widoczne dopiero jak User się zaloguje!        -->
            <li><a href="#" class="nav-link px-2">Bet</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
    </header>
</div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<!-- Album -->
<body>
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <li th:each="participant : ${participants}">
            <div class="col">
                <div class="card shadow-sm">
                    <img class = "card-img-top" th:src = "@{'/images/' + ${participant.name + participant.surname + '.jpg'}}">
                    <div class="card-body">
                        <p class="card-text">The most famous Polish F1 commentator</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">About</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Report</button>
                            </div>
                            <small class="text-body-secondary" span th:text="${participant.name}"></small>
                        </div>
                    </div>
                </div>
            </div>
            </li>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>