<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/predict.css">
    <script src="js/predict.js"></script>
    <script src="js/navbar.js"></script>
    <title>Predict</title>
</head>

<header>
    <div id="navbar-container">
        <a href="/">
            <svg width="75" height="75" role="img">
                <image xlink:href="http://localhost:8080/images/logo.png" width="75" height="75" alt="logo"/>
            </svg>
        </a>
        <ul id="navbar-elements">
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="rules">Rules</a></li>
            <li><a class="nav-link" href="about">About</a></li>
        </ul>
    </div>
</header>

<body>
<h1>Give your predictions</h1>
<div id="body-container">
    <div class="dropdown">
        <a href="#" id="participant-choice" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            Choose race weekend
        </a>
        <ul class="dropdown-menu text-small">
            <li class="dropdown-item" th:each="grandPrix : ${grandPrixWeekends}"
                th:text="${grandPrix.name}"
                th:data-parameter1="${grandPrix.id}" th:data-parameter2="${grandPrix.name}"
                th:onclick="getSessions(this.getAttribute('data-parameter1'), this.getAttribute('data-parameter2'))">
            </li>
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>