<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/results.css">
    <script src="js/world-records.js"></script>
    <script src="js/navbar.js"></script>
    <title>World Records</title>
</head>

<header>
    <div id="navbar-container">
        <a href="/">
            <svg width="75" height="75" role="img">
                <image xlink:href="http://localhost:8080/images/logo.png" width="75" height="75" alt="logo"/>
            </svg>
        </a>
        <ul id="navbar-elements">
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="rules">Rules</a></li>
            <li><a class="nav-link" href="about">About</a></li>
        </ul>
    </div>
</header>

<body>
<div class="body-container">
</div>
<div id="statistics-container">
    <h1>World records</h1>
    <div id="statistics">
        <h2>Without using Joker</h2>

        <h3>Best</h3>
        <ul>
            <li>The highest number of points gained with bet on Race: <a id="highest-race"></a></li>
            <li>The highest number of points gained with bet on Qualifying: <a id="highest-qualifying"></a></li>
            <li>The highest number of points gained with bet on Sprint: <a id="highest-sprint"></a></li>
            <li>The highest number of points gained with bet in non-Sprint weekend: <a id="highest-weekend"></a></li>
            <li>The highest number of points gained with bet in Sprint weekend: <a id="highest-sprint-weekend"></a></li>
        </ul>

        <h3>Worst</h3>
        <ul>
            <li>The lowest number of points gained with bet on Race: <a id="lowest-race"></a></li>
            <li>The lowest number of points gained with bet on Qualifying: <a id="lowest-qualifying"></a></li>
            <li>The lowest number of points gained with bet on Sprint: <a id="lowest-sprint"></a></li>
            <li>The lowest number of points gained with bet in non-Sprint weekend: <a id="lowest-weekend"></a></li>
            <li>The lowest number of points gained with bet in Sprint weekend: <a id="lowest-sprint-weekend"></a></li>
        </ul>

        <h2>Using Joker</h2>
        <h3>Best</h3>

        <ul>
            <li>The highest number of points gained with bet on Race: <a id="highest-race-joker"></a></li>
            <li>The highest number of points gained with bet on Qualifying: <a id="highest-qualifying-joker"></a></li>
            <li>The highest number of points gained in non-Sprint race weekend: <a id="highest-non-sprint-weekend-joker"></a></li>
            <li>The highest number of points gained in Sprint race weekend: <a id="highest-sprint-weekend-joker"></a></li>
        </ul>

        <h3>Worst</h3>
        <ul>
            <li>The lowest number of points gained with bet on Race: <a id="lowest-race-joker"></a></li>
            <li>The lowest number of points gained with bet on Qualifying: <a id="lowest-qualifying-joker"></a></li>
            <li>The lowest number of points gained in non-Sprint race weekend: <a id="lowest-non-sprint-weekend-joker"></a></li>
            <li>The lowest number of points gained in Sprint race weekend: <a id="lowest-sprint-weekend-joker"></a></li>
        </ul>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>