.dropdown{
    display: flex;
    justify-content: center;
}

.prediction{
    display: flex;
    justify-content: center;
}

.form-control{
    width: 300px;
}

#button-div{
    display: flex;
    justify-content: center;
}

#state{
    width: 100px;
}

#joker{
    display: flex;
    justify-content: center;
}