.dropdown {
    display: flex;
    justify-content: center;
}

.prediction {
    display: flex;
    justify-content: center;
}

.form-control {
    width: 300px;
}

#button-div {
    display: flex;
    justify-content: center;
}

#state {
    width: 100px;
}

#joker {
    display: flex;
    justify-content: center;
}

#prediction-1 {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#prediction-20 {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

[id^="prediction-"]:not(#prediction-1):not(#prediction-20) {
    border-radius: 0;
}

#form-predictions .form-floating {
    z-index: 2; /* Default z-index */
}

#numbers, #joker-label, #fastest-lap-label {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 14px;
    margin-right: 5px;
}

#fastest-lap {
    margin-bottom: 5px;
}

select option:checked {
    background-color: red !important;
    color: white !important;
}

option:hover {
    background-color: darkred;
}

.form-select:focus {
    border-color: red;
    box-shadow: 0 0 0 0.2rem darkred;
}