.body-container{
    display: flex;
    justify-content: center;
}

.statistics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown {
    display: flex;
    justify-content: center;
}

li{
    display: flex;
    justify-content: center;
}

.dropdown-item:active{
    background-color: red;
}